@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family:Verdana, Geneva, sans-serif;
}

/*STILURI PENTRU MENIU*/

header {
	background: url(multimedia/meniu.jpg);
	background-size: contain;	
	background-position: center;
	height: 100vh;
  	}

nav {
	top: 0;
	position: fixed;
	width: 100%;
	line-height: 25px;
}

nav ul {
	margin: 0;
	padding-left: 0;
	}

nav ul li {
	display:inline-block;
	}

nav ul li a {
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, seriff;
	font-size: 20px;
	color: #000000;
	}

nav.black {
	background: #ffb3b3;
	}

nav li a.active {
	background-color: #8c1aff;
	color: white;
	}

nav li a:hover:not(.active) {
  	background-color: #ff9999;
  	}

.navList a {
	padding: 8px;
	text-decoration: none;
	display: block;
	transition: .3s;
	white-space: nowrap;
	}

.navList a[href="#titluri"] {
	color: #000;
	}

.navList > li {
  position: relative;
}

.navList > li > div {
	border-buttom: 1.5px solid  #cce6ff;
	color: black;
	text-decoration: none;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	visibility: hidden;
	position: absolute;
	transition: .1s;
	opacity: 0;
	}

.navList > li:hover > div {
  visibility: visible;
  opacity: 1;
}


h1 {
	text-shadow: 2px 2px 2px #ff0000;
	font-family: "Gabriola", sans-serif;
	text-align: center;
	font-size: 60px;
	color:  #ffb3b3;
	padding-top: 280px;
}




/*STILURI PENTRU TEXT*/

.discription {
	width: 88%;
	margin: 50px auto;
	background: #ffe6e6;
}

table {
	width: 100%;
	border: 0px; 
	font-family: "Verdana";
	padding: 5px;
	}
	
table th {
	line-height: 2;
	font-size: 30px;
	text-align: center;
	padding: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	}

table td {
	font-family: "Verdana";
	line-height: 1,5;
	padding: 15px;
	}

div.gallery {
	float: left;
	}

div.desc {
	height: 20px;
	padding: 40px;
	text-align: center;
	}

p {
	text-align: justify;
	font-family: "Verdana";
	font-size: 16px;
	}

list {
	list-style-type: disc;
	}

chestionar {
	list-style-type: upper-latin;
	list-style-position: inside;
	}

intrebare {
	color: #C6C;
	text-indent: 50px;
	text-align: justify;
	font-size: 16px;
	}
	
stil {
	color: #C6C;
	text-indent: 50px;
	line-height: 2;
	}
	
carti {
	color: #000;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 1.5;
	}

item {
	display: list-item;
	}
	
nume {
	text-align: justify;
	font-size: 24px;
	color: #936;
	}

cond {
	display: list-item;
	text-align: justify;
	}
	
.romane {
	font-size:24px;
	text-align:center;
	color:#C0F;
	padding-bottom:20px;
	padding-top:50px;
	}

gen {
	color:#90F;
	font-size:16px;
	}

pre  {
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	break-after:auto;
	line-height: 1.5;
	font-style:italic;
	}